.woocommerce-cart header,
.woocommerce-checkout header,
.page-template-default header {
  position: relative;
  padding: 40px 0;
  width: 100%;
  top: 0;
  margin-bottom: 30px;
  z-index: 1;
}
.woocommerce-cart header .logo-nomad,
.woocommerce-checkout header .logo-nomad,
.page-template-default header .logo-nomad {
  background-image: url(../images/logocart.svg);
}
.woocommerce-cart header #mobile-menu,
.woocommerce-checkout header #mobile-menu,
.page-template-default header #mobile-menu {
  background-image: url(../images/menu-hamburguer2.svg);
}
.woocommerce-cart header .main-menu ul li a,
.woocommerce-checkout header .main-menu ul li a,
.page-template-default header .main-menu ul li a {
  color: #1d2a10;
}
.woocommerce-cart header .main-menu ul li a:hover,
.woocommerce-checkout header .main-menu ul li a:hover,
.page-template-default header .main-menu ul li a:hover {
  color: #fff;
}
.woocommerce-cart .wc-block-components-title.wc-block-components-title,
.woocommerce-checkout .wc-block-components-title.wc-block-components-title,
.woocommerce-cart .wc-block-formatted-money-amount,
.woocommerce-checkout .wc-block-formatted-money-amount {
  font-weight: normal;
  font-family: 'Clearface';
}
.woocommerce-cart .wc-block-components-totals-item__label,
.woocommerce-checkout .wc-block-components-totals-item__label {
  font-weight: normal !important;
}
.woocommerce-cart .components-button,
.woocommerce-checkout .components-button {
  background-color: #c15c17;
  color: #fff;
  text-transform: uppercase;
  font-family: 'Futura';
  padding: 12px 20px;
  font-weight: 600;
  letter-spacing: 3px;
  border: 0;
  border-radius: 5px;
  font-size: 0.7rem;
  display: inline-block;
  cursor: pointer;
  transition: all 0.2s linear;
}
.woocommerce-cart .components-button:hover,
.woocommerce-checkout .components-button:hover {
  background-color: #1d2a10;
  text-decoration: none;
  transition: all 0.2s linear;
}
.woocommerce-cart .page-content a,
.woocommerce-checkout .page-content a {
  color: #1d2a10;
}
.woocommerce-cart .wc-block-components-totals-coupon a,
.woocommerce-checkout .wc-block-components-totals-coupon a {
  position: relative;
  text-indent: -9999px;
}

.woocommerce-checkout .woocommerce .col2-set .col-1 #customer_details {
    width: 100%;
}

.woocommerce-checkout .woocommerce h3 {
    font-weight: 500;
}

.woocommerce-checkout input {
    border: 1px solid #e3d6b5;
    padding: 10px;
}

.woocommerce-additional-fields {
    display: none;
}

.woocommerce-checkout form.checkout #order_review_heading {
    display: none;
}

@media (min-width: 1024px) {
    .woocommerce-checkout form.checkout {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 60px;
    }
}